.App {
  max-width: 640px;
  margin: 50px auto;
  background-color: rgb(57, 208, 219);
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}